extends layout

block content
  h1= title
  p Here you can search NASA's 
    a(href='http://skyview.gsfc.nasa.gov/skymorph/') SkyMorph
    |  databases for some cool images of your favorite celestial bodies.
  #observations-search
    form#simple-search.tab
      fieldset
        legend
          | Simple 
          a(href)#advanced-link Advanced
        p Try 
          for target in sample_targets
            a(href='#target=#{target}')= target
            |, 
          | or something
        input#target(type='text')
        input(type='submit', value='Get em')
        img#loader(src='images/loading.gif')

    form#advanced-search.tab
      fieldset
        legend
          a(href)#simple-link Simple
          |  Advanced
        dl
          for param in orbital_params
            dt= param.name
            dd
              input(id=param.id)
              | #{param.unit}
        input(type='submit', value='Reach for the stars')
        img#loader(src='images/loading.gif')

    #error
    #observations

  script(src='/javascripts/main.js')
